@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Regular.otf') format('opentype');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../assets/img/fondof.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto; 
    min-height: 100vh;
}

/* Estilo para ocultar las barras de desplazamiento en navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* Oculta las barras de desplazamiento */
}

/* Capa semi-transparente encima del fondo */
body::before {
    content: ''; /* Necesario para la pseudo-clase */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* El color negro con opacidad 0.75 */
    z-index: -1; /* Asegura que la capa esté detrás del contenido */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background: transparent;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
}
.navbar-titulo {
    font-size: 1em;
}
.navbar-botones {
    display: flex;
    gap: 1em;
}
.navbar-botones button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: .4em;
    cursor: pointer;
}
.btn-registro {
    background: rgba(255, 255, 255, 0.8);
    color: #222;
    border: 1px solid #fff;
    transition: background 0.5s, color 0.5s;
}
.btn-registro:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.btn-login {
    background-color: rgba(37, 197, 14, 0.5);
    color: #fff;
    transition: background 0.5s, color 0.5s;
}
.btn-login:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #25C50E;
}

.btn-empecemos {
    font-size: 0.7em;
    cursor: pointer;
    margin: 10em 0;
    color: #25C50E;
    padding: 1em 3.5em;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #25C50E;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}

.btn-empecemos:hover {
    background-color: #25C50E;
    color: #222;
}

.lema {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    color: #fff; 
    text-align: center; 
}

.lema h1 {
    margin: 0; /* Elimina el margen por defecto de los h1 */
    color: #25C50E; /* Color del texto, puedes ajustarlo */
    font-size: 7em; /* Ajusta el tamaño de la fuente, puedes modificarlo */
    font-family: 'Bebas Neue', sans-serif; /* Cambia la fuente */
    font-weight: 800; /* Extra Bold */
    font-style: italic; /* Cursiva */
    line-height: 1;
}
.lema h1:nth-child(2) {
    color: #fff; /* Color del texto, puedes ajustarlo */
}
