@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Regular.otf') format('opentype');
}
::-webkit-scrollbar {
    display: none;  /* Oculta el scrollbar */
}

body {
    margin: 0;
    color: #fff;
    background: linear-gradient(#151915 0%,
            #151915 50%,
            #191d19 100%);

}

/* Sección INTRO */
.intro {
    font-family: Arial, sans-serif;
    background-color: rgba(25, 29, 25, 0.85);
    height: 100vh;
}

.intro .intro-fondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/fondof.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.intro .btn-login {
    background-color: rgba(37, 197, 14, 0.5);
    color: #fff;
    transition: background 0.5s, color 0.5s;
}

.intro .btn-login:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #25C50E;
}

.intro .btn-empecemos {
    font-size: 0.65em;
    cursor: pointer;
    margin: 10em 0;
    color: #25C50E;
    padding: 1em 3.5em;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #25C50E;
    border-radius: 8px;
    transition: background 0.5s, color 0.5s;
}

.intro .btn-empecemos:hover {
    background-color: #25C50E;
    color: #191d19;
}

.intro .btn-registro {
    background: rgba(255, 255, 255, 0.8);
    color: #191d19;
    transition: background 0.5s, color 0.5s;
}

.intro .btn-registro:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.intro .lema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.intro .lema h1 {
    margin: 0;
    color: #25C50E;
    font-size: 7em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
}

.intro .lema h1:nth-child(2) {
    color: #fff;
}


/* Barra de navegación */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background: transparent;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
}

.navbar-titulo {
    font-size: 1em;
}

.navbar-botones {
    display: flex;
    gap: 1em;
}

.navbar-botones button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: .4em;
    cursor: pointer;
}