<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Compra de Membresía — VersusMe</title>
  <link rel="stylesheet" href="css/styles_compra_membresia.css">
    <script src="https://kit.fontawesome.com/bc80db73e6.js" crossorigin="anonymous">
  </script> 

</head>
<body>
  <nav>
    <div class="logo">VersusMe</div>

    <!-- Botón hamburguesa (solo móvil) -->
    <div class="menu-toggle" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="nav-links" id="navLinks">
      <button class="nav-btn">
        <img src="assets/img/img_navbar/dashboards.png" alt="home">
        DASHBOARDS
      </button>
      <button class="nav-btn">
        <img src="assets/img/img_navbar/crear_partido.png" alt="crear">
        CREAR PARTIDO
      </button>
      <button class="nav-btn">
        <img src="assets/img/img_navbar/historial.png" alt="historial">
        HISTORIAL
      </button>
    </div>

    <div class="profile" id="profileMenu">
      <div class="profile-circle">A</div>
      <span class="dropdown-icon">▾</span>
      <div class="dropdown-menu" id="dropdownMenu">
        <div class="dropdown-item">Perfil</div>
        <div class="dropdown-item">Mensajes</div>
        <div class="dropdown-item">Cerrar Sesión</div>
      </div>
    </div>
  </nav>

 <main class="membresia-container">
    <section class="membresia-info">
      <h2>Suscribirse a VersusMe Pro</h2>

      <div class="precio-grande">
        <span class="precio">$5.00</span>
        <div class="por-mes-bloque">
          <span>por</span>
          <span>mes</span>
        </div>
      </div>

      <div class="detalle-compra">
        <div class="detalle-header">
          <h3 class="h3">Suscripción a VersusMe Pro</h3>
          <span>USD $5.00</span>
        </div>
        <p class="gris">Facturación mensual</p>

        <hr>
        
        <div class="linea">
          <span>Subtotal</span>
          <span>USD $5.00</span>
        </div>

        <div class="linea gris">
          <span>Impuestos</span>
          <span>USD $0.00</span>
        </div>

        <hr>

        <div class="total">
          <span>Total adeudado hoy</span>
          <span>USD $5.00</span>
        </div>
      </div>
    </section>
  
  <div class="formulario-compra">
  <h2>Información de contacto</h2>

  <div class="campo-correo">
    <div class="etiqueta">
      <p>Correo</p>
      <p>electrónico</p>
    </div>
    <div class="valor">hola@versusme.com</div>
  </div>

  <h2>Método de pago</h2>
  <h3>Información de la tarjeta</h3>

  <div class="tarjeta">
    <i class="fa-brands fa-cc-visa"></i>
    <i class="fa-brands fa-cc-mastercard"></i>
    <i class="fa-brands fa-cc-diners-club"></i>
  <input type="text" placeholder="1234 5678 9012 3456" class="input-tarjeta">
  </div>
  
  <div class="fila-pequena">
    <input type="text" placeholder="MM / AA">
    <input type="text" class="iconcvc" placeholder="CVC">

  </div>

  <h3>Nombre del titular de la tarjeta</h3>
  <input type="text" class="input-largo" placeholder="Nombre completo">

  <h3>Dirección de factura</h3>
  
 
 <div class="direccion-factura">


  <div class="pais-fila">

    <select id="pais" name="pais" class="select-superior">
      <option value="pe" selected>Perú</option>
      <option value="cl">Chile</option>
      <option value="mx">México</option>
    </select>
  </div>


  <div class="direccion-fila">

    <input type="text" id="linea1" name="linea1" placeholder="Ej. Calle Los Olivos 123">
  </div>


  <div class="direccion-fila">
  
    <input type="text" id="linea2" name="linea2" placeholder="Ej. Departamento o referencia">
  </div>


  <div class="direccion-fila doble-columna">
    <div class="columna-izq">
      
      <input type="text" id="distrito" name="distrito" placeholder="Ej. Miraflores">
    </div>
    <div class="columna-der">
      
      <input type="text" id="postal" name="postal" placeholder="Ej. 15074">
    </div>
  </div>

  <div class="provincia-fila">
    <select id="provincia" name="provincia" class="select-inferior" >
      <option value="lima">Lima</option>
      <option value="cusco">Cusco</option>
      <option value="arequipa">Arequipa</option>
    </select>
  </div>

</div>


  <div class="terminos">
    <input type="checkbox" id="check">
    <label for="check">Se cobrará el monto mencionado, con la frecuencia establecida anteriormente, hasta que canceles la suscripción. Es posible que modifiquemos nuestros precios como se describe en nuestros Términos de uso puedes cancelar la suscripción en cualquier momento. Al suscribirte aceptas los Términos de Uso y la Política de privacidad de VersusMe, y nos autorizas a almacenar tu forma de pago para renovaciones y otras compras.</label>
  </div>

  <button class="btn-suscribir">Suscribirse</button>
  <div class="footer-pago">
  <p>Powered by <span class="N">N</span> &nbsp; | &nbsp; 
    <a href="#">Condiciones</a> &nbsp; 
    <a href="#">Privacidad</a>
  </p>
</div>
</div>

</main>
<script src="js/compra_membresia.js"></script>
</body>

</html>