::-webkit-scrollbar {
  display: none;
}

.mensajeria-container {
  display: flex;
  height: 100vh;
  font-family: "Inter", system-ui, sans-serif;
}

/* --- Sidebar oscuro --- */
.sidebar {
  width: 300px;
  background: #0f0f10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* --- Cuadro de búsqueda --- */
.search-box {
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #e0e0e0;
  color: #111;
  font-size: 15px;
}

/* --- Link inferior --- */
.bottom-link {
  margin-top: auto;
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #fafafa;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.back-link:hover {
  color: #25c50e;
}

/* --- Área principal clara --- */
.main-view {
  flex: 1;
  background: linear-gradient(to bottom, #d9dede, #d9e9d8);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* mensajes arriba, input abajo */
  padding: 20px;
}


.placeholder-text {
  color: #444;
  font-size: 15px;
  text-align: center;
}

.chat-item {
  padding: 12px;
  background: #2b2f2a;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  color: #fff;
}

.chat-item:hover {
  background: #3a4d3a; /* verde oscuro suave */
}

.chat-item.active {
  background: #148031 !important; /* verde seleccionado */
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #646464;
  font-size: 15px;
}

.input-row button {
  background: #25c50e;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.input-row button:hover {
  background: #1faa0c;
}

/* Cuando NO hay chat seleccionado */
.main-view.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* El contenido normal del chat */
.main-view:not(.empty) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.message-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.message-row.mine {
  justify-content: flex-end;
}

.msg-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid #148031;
}

.message-bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
}

.message-bubble.mine {
  background: #c0e6c4;
  align-self: flex-end;
}

.message-bubble.theirs {
  background: #ffffff;
}
