::-webkit-scrollbar {
  display: none;
}

/* --- Fix para selects en modo oscuro --- */
select, option {
  background-color: #141517; /* Fondo oscuro consistente con tu diseño */
  color: #FAFAFA;           /* Texto blanco para contraste */
}

select:focus {
  outline: none;
  border-color: #FAFAFA; /* Verde VersusMe al enfocar */
}

option:hover,
option:checked {
  background-color: #ffffff; /* Fondo verde al seleccionar */
  color: #141517;           /* Texto oscuro sobre verde */
}

/* 💡 Forzar que la lista de sugerencias se muestre sobre el mapa */
.leaflet-container {
  z-index: 0 !important;
}

.suggestions-dropdown {
  position: absolute;
  z-index: 10000 !important; /* Muy por encima del mapa */
}
