:root {
  --green: #25C50E;
  --bg: #141517;
  --top: #2B2F2A;
  --stroke: #5F676D;
  --text: #FAFAFA;
  --yellow: #F7D41D;
}
.brand {
  font-family: "Squada One", system-ui, sans-serif;
  font-size: 3em;
  letter-spacing: .05em;
}

/* 🔹 Topbar */
.topbar {
  background: var(--top);
  height: 6.5em;
  display: flex;
  align-items: center;
}

.container {
  width: 92vw;
  margin: 0 auto;
}

.topbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* 🔹 Efecto hover para los botones del topbar */
.pill {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  padding: 0 22px;
  background: rgba(255, 255, 255, .9);
  color: #000;
  border-radius: 10px;
  text-decoration: none;
  font-size: 10px;
  transition: all 0.25s ease; /* ← transición suave */
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 2px;
  position: relative;
}

.profile .badge {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: var(--green);
  font-weight: 800;
  font-size: 25px;
}

.profile button img {
  width: 18px;
  height: 18px;
}


.pill img {
  width: 16px;
  height: 16px;
}

/* 🔹 Hover: fondo verde y letras blancas */
.pill:hover {
  background: var(--green);
  color: black;
}

/* 🔹 Hover del menú desplegable del perfil */
.profile-menu nav a,
.profile-menu nav button {
  transition: background 0.25s ease, color 0.25s ease;
}

.profile-menu nav a:hover,
.profile-menu nav button:hover {
  background: var(--green);
  background-color: #4b4e4b !important;
}
